[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EDASeq"]
	path = EDASeq
	url = https://github.com/drisso/edaseq
[submodule "RUVSeq"]
	path = RUVSeq
	url = https://github.com/drisso/ruvseq
[submodule "awst"]
	path = awst
	url = https://github.com/drisso/awst
[submodule "mbkmeans"]
	path = mbkmeans
	url = https://github.com/drisso/mbkmeans
[submodule "zinbwave"]
	path = zinbwave
	url = https://github.com/drisso/zinbwave
